In [0]:
%sql
create database if not exists mydb;

In [0]:
%sql
use mydb;

In [0]:
%sql
Create Table employee
(id int, name string, salary double)

In [0]:
%sql
INSERT INTO employee VALUES
(1, 'Adam', 35000.0),
(2, 'Sarah', 40200.0);

INSERT INTO employee VALUES
(3, 'John', 35000.0),
(4, 'Thomas', 40200.3);

INSERT INTO employee VALUES
(5, 'Anna', 5000.0);

INSERT INTO employee VALUES
(6, 'Kim', 6200.20);

In [0]:
%sql
Select * from employee

In [0]:
%sql
describe detail employee

In [0]:
%sql
Update employee
set salary = salary + 100
where name like 'A%'

In [0]:
%sql
select * from employee

In [0]:
%sql
describe detail employee

In [0]:
%sql
describe history employee

In [0]:
%sql